.features-boxed {
  color: #313437;
  background-color: #eaeaea;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 70px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 50px;
  background: #f7fcfe;
  box-shadow: 20px 20px 60px #c9cfd4, -20px -20px 60px #ffffff;
}

@media (max-width: 992px) {
  .features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #000000, -20px -20px 60px #ffffff;
  }
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #751777;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-body {
  font-size: 12px;
}

@media (max-width: 450px) {
  .card-body {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .card-body {
    font-size: 10px;
  }
}

.abouts .card {
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px rgba(0,0,0,0.7), -20px -20px 60px #ffffff;
}

