.features-boxed {
  color: #313437;
  background-color: #ffffff;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 70px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box:hover {
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 50px;
  background: #ffffff;
  /*box-shadow: 20px 20px 40px rgba(186,15,231,0.49), -20px -20px 60px #ffffff;*/
  box-shadow: inset 1rem 1rem 2rem rgba(0,0,0,.1),inset -1rem -1rem 2rem rgba(225,255,255,.5);
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 50px;
  background: #ffffff;
  /*box-shadow: 20px 20px 40px rgba(186,15,231,0.49), -20px -20px 60px #ffffff;*/
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),-1rem -1rem 2rem rgba(225,255,255,.5);
}

@media (max-width: 992px) {
  .features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background: #ffffff;
    /*box-shadow: 20px 20px 60px #8a01ac, -20px -20px 60px #ffffff;*/
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),-1rem -1rem 2rem rgba(225,255,255,.5);
  }
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #751777;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-body {
  font-size: 12px;
}

@media (max-width: 450px) {
  .card-body {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .card-body {
    font-size: 10px;
  }
}

.abouts .card {
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 20px;
  background: #ffffff;
  /*box-shadow: 20px 20px 60px rgba(0,0,0,0.7), -20px -20px 60px #ffffff;*/
}

.row features .h4, h4 {
  color: rgb(116,16,119);
}

.card about a {
  color: purple;
}

.news {
  padding: 10px;
  margin: 5px;
}

@media (max-width: 770px) {
  .container.services .name {
    font-size: 13px;
  }
}

.container.services .name {
  font-size: 20px;
}

.services-description {
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .services-description {
    padding-bottom: 70px;
  }
}

.h4, h4 {
}

.row.abouts {
  padding-top: 50px;
}

.our-staff {
  background: #ffffff;
  padding: 20px;
  border: solid 1px #CCCCCC;
  margin-bottom: 20px;
  float: left;
}

.our-staff img {
  float: left;
  margin: 0 15px 5px 0;
  width: 168px;
  border: solid 1px #CCCCCC;
  padding: 3px;
}

.intro {
  /*margin: 50px;*/
  padding: 50px;
}

.row.staff {
  padding: 20px;
}

.intros .h1, h1 {
  font-size: 50px;
}

.intro1 {
  font-size: 45px;
}

.intros {
  font-size: 70px;
}

.staff img {
  object-fit: cover;
  /*object-fit: cover;*/
  /*width: 50px;*/
  /*height: 100px;*/
}

.card {
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),-1rem -1rem 2rem rgba(225,255,255,.5);
}

.card:hover {
  box-shadow: inset 1rem 1rem 2rem rgba(0,0,0,.1),inset -1rem -1rem 2rem rgba(225,255,255,.5);
}

